# User Experience Analysis

In [1]:
import os
notebook_dir = os.getcwd()
parent_path=os.path.dirname(notebook_dir)

os.chdir(parent_path)

In [2]:
from script.connection import Connector

In [3]:
# instance of the class
connector=Connector()

In [5]:
xdr_data=connector.load_table_to_dataframe('xdr_data_cleaned')

SQLAlchemy connection is disposed

In [7]:
xdr_data.columns

Index(['Bearer Id', 'Start', 'Start ms', 'End', 'End ms', 'Dur. (ms)', 'IMSI',
       'MSISDN/Number', 'IMEI', 'Last Location Name', 'Avg RTT DL (ms)',
       'Avg RTT UL (ms)', 'Avg Bearer TP DL (kbps)', 'Avg Bearer TP UL (kbps)',
       'TCP DL Retrans. Vol (Bytes)', 'TCP UL Retrans. Vol (Bytes)',
       'DL TP < 50 Kbps (%)', '50 Kbps < DL TP < 250 Kbps (%)',
       '250 Kbps < DL TP < 1 Mbps (%)', 'DL TP > 1 Mbps (%)',
       'UL TP < 10 Kbps (%)', '10 Kbps < UL TP < 50 Kbps (%)',
       '50 Kbps < UL TP < 300 Kbps (%)', 'UL TP > 300 Kbps (%)',
       'Activity Duration DL (ms)', 'Activity Duration UL (ms)', 'Dur. (ms).1',
       'Handset Manufacturer', 'Handset Type', 'Nb of sec with Vol DL < 6250B',
       'Nb of sec with Vol UL < 1250B', 'Social Media DL (Bytes)',
       'Social Media UL (Bytes)', 'Google DL (Bytes)', 'Google UL (Bytes)',
       'Email DL (Bytes)', 'Email UL (Bytes)', 'Youtube DL (Bytes)',
       'Youtube UL (Bytes)', 'Netflix DL (Bytes)', 'Netflix UL (Bytes)',
       'Gaming DL (Bytes)', 'Gaming UL (Bytes)', 'Other DL (Bytes)',
       'Other UL (Bytes)', 'Total UL (Bytes)', 'Total DL (Bytes)'],
      dtype='object')

In [5]:
from script.user_experince_analyzer import ExperienceAnalyzer

In [6]:
analyzer= ExperienceAnalyzer()

### User Data Aggregate

In [7]:
analyzer.user_aggregate(xdr_data)

   MSISDN/Number  Avg Bearer TP DL (kbps)  Avg RTT DL (ms)  Avg RTT UL (ms)  \
0   3.360100e+10                     37.0        46.000000         0.000000
1   3.360100e+10                     48.0        30.000000         1.000000
2   3.360100e+10                     48.0        78.317083        12.866779
3   3.360101e+10                    204.0        69.000000        15.000000
4   3.360101e+10                  20197.5        57.000000         2.500000

                     Handset Type
0  Huawei P20 Lite Huawei Nova 3E
1          Apple iPhone 7 (A1778)
2                       undefined
3         Apple iPhone 5S (A1457)
4         Apple iPhone Se (A1723)

# 10 of the top, bottom, and most frequent